<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Migrant Crisis</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage full-screen navigation and sections control menu." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fullscreen,navigation,control arrows, dots" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" type="text/css" href="jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="examples.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="my.css" />
	<link rel="stylesheet" type="text/css" href="w3.css">
	<link rel="stylesheet" type="text/css" href="animate.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="scrolloverflow.js"></script>
	<script type="text/javascript" src="jquery.fullPage.js"></script>
	<script type="text/javascript" src="examples.js"></script>
	<script type="text/javascript" src="form.js"></script>
	

</head>
<body class="en">

<div id="fullpage">

		<div class="section " id="section0">
			<div class="w3-bar">
				<button lang="en" class="w3-btn w3-white w3-border w3-border-red w3-round-large" id="lang-button" onclick="document.body.className='en'">EN</button>
				<button lang="en" class="w3-btn w3-white w3-border w3-border-red w3-round-large" id="lang-button" onclick="document.body.className='ru'">RU</button>
				<button lang="ru" class="w3-btn w3-white w3-border w3-border-red w3-round-large" id="lang-button" onclick="document.body.className='en'">Англ</button>
				<button lang="ru" class="w3-btn w3-white w3-border w3-border-red w3-round-large" id="lang-button" onclick="document.body.className='ru'">Русский</button>
		  </div>
			<div class="cycle"> </div>
			<div class="intro">
				<h1 lang="en">European Migrant Crisis</h1>
				<p lang="en" >More than a million migrants and refugees crossed into Europe in 2015, sparking a crisis as countries struggled to cope with the influx, and creating division in the EU over how best to deal with resettling people.</p>
				<h1 lang="ru">Миграционный кризис в Европе</h1>
				<p lang="ru" >Более миллиона мигрантов и беженцев пересекли границы Европы в 2015 году, став причиной кризиса в ряде стран, оказавшихся неспособными справиться с таким наплывом людей, а также спровоцировав раскол в ЕС по поводу того, как быть дальше с переселенцами. </p>
			</div>
		</div>
		<div class="section" id="section1">
		    <div class="slide" id="slide1">
						<div class="intro">
							<h1 lang="en">France</h1>
							<h1 lang="ru">Франция</h1>
							<p class="countries">
								<img class="flags" src="france.png" align="left"> 
									<p style="width:700px; text-align: left; margin-right: 80px;" lang="en"> Migrants entering France illegally by train from Italy were returned to Italy by French police since border controls were introduced in July 2015.
								France has been perceived as "unwelcoming" and having a poor job market by migrants. Thus many of them seek to enter the United Kingdom, resulting in camps of migrants around Calais, where one of the Eurotunnel entrances is located. During the summer of 2015, at least nine people died in attempts to reach Britain, including falling from, or being hit by trains, and drowning in a canal at the Eurotunnel entrance. Migrants from the camps also attempt to enter trucks bound for the UK, with some truck drivers being threatened by migrants, and cargo being stolen or damaged.
								</p>
								<p style="width:700px; text-align: left; margin-right: 80px;" lang="ru"> Мигранты, пересекающие границы Франции нелегально на поезде из Италии были возвращены в Италию французской полицией, поскольку меры пограничного контроля были введены в июле 2015 года.
								Франция была воспринята мигрантами как "неприветливая" и с плохим рынком труда. Таким образом, многие из них стремятся попасть в Соединенное Королевство, в результате чего в лагерях мигрантов вокруг Кале, где находится один из входов в Евротуннель. В течение лета 2015 года, по крайней мере, девять человек погибли в попытках достичь Великобритании, в том числе в результате падения с или попадания под поезда, и утопления в канале у входа Евротуннель. Мигранты из лагерей также пытаются попасть грузовики, направляющиеся в Великобританию, при этом некоторые водители грузовиков подвергаются угрозам, а груз  - краже или повреждениям.
								</p>
							</>
								
							</p>
						
						</div>
			  </div>

		    <div class="slide" id="slide2">
		    	<div class="intro">
					<h1 lang="en">Germany</h1>
					<h1 lang="ru">Германия</h1>
						<p class="countries">
							<img class="flags" align="left" src="germany.png">
								<p style="width:700px; text-align: left; margin-right: 80px;" lang="en"> Germany has been the most sought-after final destination in the EU migrant and refugee crisis. Thousands of migrants continued to pour into Germany from Austria as of 6 September 2015. Germany's asylum practice is to be based on article 16a of her Basic Law. After the development of the migrant crisis Germany decided to use the derogation possibility of article 17 of the Dublin III Regulation for humanitarian reasons. According to The Wall Street Journal, this "unilateral" open-arms policy triggered both a domestic and an international backlash. However, Germany immediately began to deploy a quota system to distribute asylum seekers among all German states.
								</p>
								<p style="width:700px; text-align: left; margin-right: 80px;" lang="ru"> Германия была дной из наиболее востребованных стран переселения мигрантов и беженцев  в ЕС. Тысячи мигрантов продолжали сыпаться в Германию из Австрии, потому как с 6 сентября 2015 года практика предоставления убежища в Германии основывалась на статью 16а Основного закона. После развития кризиса мигрантов Германия решила использовать возможность 17 статьи Положения Дублин III. По данным The Wall Street Journal, эта политика "односторонности" и открытого оружия сработает как отечественный и международный люфт. Тем не менее, Германия сразу же начала развертывать систему квот для распределения лиц, ищущих убежища среди всех немецких государств.
								</p>
							</>
						</p>
						</div>
			  </div>
			  <div class="slide" id="slide2">
			  <div class="intro">
					<h1 lang="en">Sweden</h1>
					<h1 lang="ru">Швеция</h1>
						<p class="countries">
							<img class="flags" align="left" src="sweden.png">
								<p style="width:700px; text-align: left; margin-right: 80px;" lang="en"> During all of 2015, migration authorities reported 500 cases of suspected terrorism links or war criminals to Swedish Security Service. Twenty individuals were denied asylum in 2015 due to war crimes. In August 2016 four workers at asylum centres for refugee children were reported to have been infected by tuberculosis and health services reported a marked increase in tuberculosis infections due to the crisis. In 2015 an increase of 22% on the previous year was noted, this was largely attributed to an increased inflow of migrants over that year. 90% of people infected with tuberculosis were born abroad.
								</p>
								<p style="width:700px; text-align: left; margin-right: 80px;" lang="ru"> В течение 2015, миграционные власти сообщили о 500 случаях по подозрению в связях с терроризмом или военными преступниками в шведской службы безопасности. Двадцати лицам было отказано в предоставлении убежища в 2015 году из-за военных преступлений. В августе 2016 года было зарегистрировано четыре рабочих центра для детей-беженцев, были заражены туберкулезом. Также, было сообщено о значительном увеличении числа инфицированных туберкулезом из-за кризиса. В 2015 году было отмечено увеличение на 22% по сравнению с предыдущим годом, это было во многом связано с увеличением притока мигрантов в течение этого года. 90% людей, инфицированных туберкулезом родились за границей.
								</p>
							</>
						</p>
						</div>
			  </div>
			  <div class="slide" id="slide2">
			  <div class="intro">
					<h1 lang="en">Italy</h1>
					<h1 lang="ru">Италия</h1>
						<p class="countries">
							<img class="flags" align="left" src="italy.png">
								<p style="width:700px; text-align: left; margin-right: 80px;" lang="en"> Since 2014, thousands of migrants have been trying every month to cross the Central Mediterranean to Italy, risking their lives on unsafe boats including fishing trawlers. Many of them are fleeing poverty-stricken homelands or war-torn countries and seeking economic opportunity within the EU. Italy, and, in particular, its southern island of Lampedusa, receives enormous numbers of Africans and Middle-Easterners transported by smugglers operating along the ungoverned coast of the failed state of Libya.
								</p>
								<p style="width:700px; text-align: left; margin-right: 80px;" lang="ru">Начиная с 2014 года, тысячи мигрантов каждый месяц пытались проникнуть в Италию через  центральную часть Средиземного моря, рискуя своей жизнью на небезопасных лодках в том числе рыболовных на траулерах. Многие из них покидают нищую родину или охваченные войной страны и ищут экономические возможности в рамках ЕС. Италия, и, в частности, его южный остров Лампедуза, получает огромное число африканцев и Ближнего Востока, перевозимых контрабандистов, вдоль неуправляемого побережья несостоявшегося государства Ливии.
								</p>
							</>
						</p>
						</div>
			  </div>
		</div>
	  <div class="section" id="section2">
			
			<row style="padding-bottom: -20px; margin-bottom: -20px;">
						
							<video class="video"  style="width: 600px; height: 300px; margin-right: 0px">
											<source src="franceVid.mp4" type="video/mp4">
								</video>
						
								<video class="video"  style="width: 600px; height: 300px;">
											<source src="germanyVid.mp4" type="video/mp4">
								</video>
						
			</row>

			<row style="margin-top: -60px;">
			
			<video class="video"  style="width: 600px; height: 300px;">
											<source src="swedenVid.mp4" type="video/mp4">
								</video>
			
								<video class="video"  style="width: 600px; height: 300px;">
											<source src="italyVid.mp4" type="video/mp4">
								</video>
								
			</row>
			
	

</div>
		<div class="section" id="section3">
		
		<ul class="comments" style="overflow-y:scroll; height: 400px">
  			<% for(var i=0; i<comments.length; i++) {%>
    		<li class="comment">
    					<!--COMMENT BOXES!-->
					<div class="container">
						<div class="row">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong><%= comments[i].name %></strong> 
								</div>
								<div class="panel-body">
									<%= comments[i].text %>
								</div>
							</div>
						</div>

					</div>

						<!--COMMENT BOXES!-->
    		</li>
  			<%}%>
		</ul>
	

		
	<div>

			<!-- FORM FOR COMMENTS !-->
				<div class="container">

    <form class="well form-horizontal" action="/comments" method="post"  id="contact_form" >
<fieldset>

<!-- Form Name -->
<legend lang="en"> Leave a comment!</legend>
<legend lang="ru"> Оставьте коментарий!</legend>
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" lang="en">Name</label>  
  <label class="col-md-4 control-label" lang="ru">Имя</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="Name" class="form-control"  type="text">
    </div>
  </div>
</div>







<div class="form-group">
  <label class="col-md-4 control-label" lang="en">Comment</label>
  <label class="col-md-4 control-label" lang="ru">Комментарий</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="comment" placeholder="Comment"></textarea>
  </div>
  </div>
</div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up" lang="en"></i> Thank you!.</div>
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up" lang="ru"></i> Спасибо!.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" onclick="append('sometext')" lang="en">Send <span class="glyphicon glyphicon-send"></span></button>
    <button type="submit" class="btn btn-warning" onclick="append('sometext')" lang="ru">Отправить <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
<!-- FORM FOR COMMENTS !-->
			</div>
	  </div>
</div>

</body>
</html>
