<ul class="comments">
  <% for(var i=0; i<comments.length; i++) {%>
    <li class="comment">
      <span><%= comments[i].name %></span>
      <span><%= comments[i].text %></span>
    </li>
  <%}%>
</ul>